* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: arial;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

a, a:hover, a:active, a:focus{
  text-decoration: none;
  outline: 0;
}
